*{
    margin: 0;
    padding: 0;   
}
section{
    background-image: url(Image/img2.webp);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    display: grid;
    grid-template-rows: 100px 200px;
    grid-template-columns: 780px 800px;
    gap:1rem;
    
}
.leftbox{
    padding-top: 150px;
}
.leftbox .content, .rightbox .content{
    
    height: auto;
    color: whitesmoke;
    background-color: rgb(84, 169, 202);
    padding:10px;
    margin: 10px;
    transition: .5s;
    font-family: "Open Sans", sans-serif;
}
.leftbox .content h1{
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.leftbox .content p{
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 15px;
}

.rightbox{
    padding-top: 50px;
}

.rightbox .content{
    color: whitesmoke;
    background-color: rgb(84, 169, 202);
    padding: 10px;
    margin: 10px;
    transition: .5s;
}

.rightbox .content {
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 550px;
    gap: 1px;
}
.rightbox .content .time{
    background-color: rgb(63, 32, 164);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 5px;
}
.rightbox .content .details{
    background-color: whitesmoke;
    padding: 10px;
    margin: 2px;
    color: black;
    box-shadow: inset;
}
.rightbox .content .details h3 ,.rightbox .content .details p{
    
   margin-bottom: 10px;
}
.rightbox .content .details a{
    
    text-decoration: none;
}
